<!-- Form favorite start -->
<form action="/create_favorite_from_deal" method="post">
<!-- Form favorite end -->

  <!-- Label and input for deal_id start -->
  <!-- Input for deal_id start -->
  <input type="hidden" name="deal_id" value="<%= @deal.id %>">
  <!-- Input for deal_id end -->

  <!-- Label and input for user_id start -->
  <!-- Input for "user_id" start -->
  <input type="hidden" name="user_id" value="<%= current_user.id %>">
  <!-- Input for "user_id" end -->
  <!-- Label and input for user_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create favorite
  </button>
</form>
