<form action="/create_comment_from_deal" method="post">

  <div class="form-group">
    <label for="comment">
      Comment
    </label>

    <input type="text" id="comment" name="comment" class="form-control" value="<%= @comment.comment %>">
  </div>

  <input type="hidden" name="user_id" value="<%= current_user.id %>">

  <input type="hidden" name="deal_id" value="<%= @deal.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create comment
  </button>
</form>
