<h1>
  Edit favorite #<%= @favorite.id %>
</h1>

<hr>

<!-- Form favorite start -->
<form action="/update_favorite/<%= @favorite.id %>" method="post">
<!-- Form favorite end -->

  <!-- Label and input for deal_id start -->
  <div class="form-group">
    <label for="deal_id">
      Deal
    </label>

    <!-- Input for deal_id start -->
    <%= select_tag(:deal_id, options_from_collection_for_select(Deal.all, :id, :deal_tagline, @favorite.deal_id), :class => "form-control") %>
    <!-- Input for deal_id end -->
  </div>
  <!-- Label and input for deal_id end -->

  <!-- Label and input for user_id start -->
  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <!-- Input for user_id start -->
    <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :username, @favorite.user_id), :class => "form-control") %>
    <!-- Input for user_id end -->
  </div>
  <!-- Label and input for user_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Update favorite
  </button>
</form>

<hr>

<a href="/favorites">
  Go back
</a>
